
@{
    this.ViewData["Title"] = T["Reset password confirmation"];
}
<h1>@(this.ViewData["Title"])</h1>
<p>
    @(T["Your password has been reset"]) @(T["Please"]) <a asp-action="Login" asp-controller="Account" >@(T["click here to log in"])</a>.
</p>
