@inject IViewLocalizer T
<h3>
    @T["An error occured while processing your request"]
</h3>
<a asp-controller="home" asp-action="index" class="btn btn-outline-success"
   style="width:auto">@T["Back to safety"]</a>