<h3>
    An occured while processing your request. The support
    team is notified and we are working on the fix
</h3>
<a asp-controller="home" asp-action="index" class="btn btn-outline-success"
   style="width:auto">Back to safety</a>