@{
    ViewData["Title"] = "Αρχική σελίδα";
}


@section Styles {
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.min.css" />
    <link href="~/css/Leaflet.PolylineMeasure.css" rel="stylesheet" />
    <link href="~/css/L.Control.Sidebar.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/leaflet-fullscreen/Control.FullScreen.css" />
    <style type="text/css">
        #map {
            height: 800px;
            margin: 20px 20px 0 0;
        }
    </style>
}

@section Scripts {
    <script type="text/javascript" src="~/lib/jquery-csv/jquery.csv.min.js"></script>
    <script type="text/javascript" src="~/lib/leaflet/leaflet.min.js"></script>
    <script type="text/javascript" src="~/lib/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="~/lib/leaflet-fullscreen/Control.FullScreen.min.js"></script>
    <script src="~/js/leaflet.ajax.min.js"></script>
    <script src="~/lib/leaflet/plugins/L.Control.Sidebar.js"></script>
    <script src="~/lib/leaflet/plugins/Leaflet.PolylineMeasure.js"></script>
    <script src="~/lib/leaflet/plugins/leaflet-providers.js"></script>
    <script type="text/javascript">


        var currentPosition = new L.LatLng(38.144699504115366, 23.857665042524335);
        var mymap;
        var lyrOSM;
        var layerFiltered;
        var layerActiveGraves;
        var objOverlays;
        var ctrlMeasure;
        var objOverlays;
        var ctrLayers;
        var objBaseMaps;
        var sideBar;

        $(document).ready(function() {
            mymap = L.map('map', { center: currentPosition, zoom: 13, editable: true, fullscreenControl: true });

            lyrOSM = L.tileLayer('http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}',
                {
                    maxZoom: 24,
                    subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
                });
            mymap.addLayer(lyrOSM);

            
            layerActiveGraves = L.geoJSON.ajax('/data/agiosstefanos.json', { @*onEachFeature: processClientLinears,*@ filtered: filteredActiveLayer }).addTo(mymap);

            //layerFiltered = L.geoJSON.ajax('/data/agiosstefanos.json', { onEachFeature: processFiltered, filtered : filteredLayer }).addTo(mymap);

            objOverlays = { "Active Graves": layerActiveGraves@*, "Filtered Layer" :layerFiltered  *@};
            ctrLayers = L.control.layers(objBaseMaps, objOverlays).addTo(mymap);

            layerActiveGraves.on('data:loaded',
                function() {
                    mymap.fitBounds(layerActiveGraves.getBounds());
                });

            ctrlMeasure = L.control.polylineMeasure().addTo(mymap);

            //sideBar = L.control.sidebar('sidebar').addTo(mymap);


        });

        function filteredActiveLayer (json) {
            debugger;
            var att = json.properties.OID_;
            if (att > 510) {
                return false ;
            @*} else {
                return true ;
            }*@
        }

        function processFiltered(json,lyr) {
            var att = json.properties;
            label = 'Αρίθμηση Τάφου :' + att.OID_ + '</p>';
            sidebar.setContent('test <b>test</b> test' + label);
            lyr.bindTooltip(label);
        }

        function styleClientLinears(json) {
            var att = json.properties;
            if (att.OID_ < 510) {
                return { color: '#874B8B' };
            } else {
                return { color: '#2C169F' };
            }
        }

        function processClientLinears(json,lyr) {
            var att = json.properties;
            label = 'Αρίθμηση Τάφου :' + att.OID_ + '</p>';
            sidebar.setContent('test <b>test</b> test' + label);
            lyr.bindTooltip(label);
        }


    </script>
}

<div class="text-center">
    <h1 class="display-4">Alfaware</h1>
</div>

<div class="">
    <div class="">
        <h2>Simulation</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Visualize Graves</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div id="map"></div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="sidebar">
    <h1>leaflet-sidebar</h1>
</div>