@{
    ViewData["Title"] = "Home Page";
}


@section Styles {
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.min.css" />
    <link href="~/css/Leaflet.PolylineMeasure.css" rel="stylesheet" />
    <link href="~/css/L.Control.Sidebar.css" rel="stylesheet" />
    <link href="~/css/L.Control.Sidebar.css" rel="stylesheet" />
    <link href="~/css/easy-button.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/leaflet-fullscreen/Control.FullScreen.css" />
    <style type="text/css">
        #map {
            height: 800px;
            margin: 20px 20px 0 0;
        }

        .col-xs-12, .col-xs-12, .col-xs-4 {
            padding: 3px;
        }

        #divProject {
            background-color: beige;
        }

        .errorMsg {
            padding: 0;
            text-align: center;
            background-color: darksalmon;
        }
    </style>
}


@section Scripts {
    <script type="text/javascript" src="~/lib/jquery-csv/jquery.csv.min.js"></script>
    <script src="https://use.fontawesome.com/6024ab1387.js"></script>
    <script type="text/javascript" src="~/lib/leaflet/leaflet.min.js"></script>
    <script type="text/javascript" src="~/lib/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="~/lib/leaflet-fullscreen/Control.FullScreen.min.js"></script>
    <script src="~/js/leaflet.ajax.min.js"></script>
    <script src="~/lib/leaflet/plugins/L.Control.Sidebar.js"></script>
    <script src="~/lib/leaflet/plugins/L.Control.Sidebar.js"></script>
    <script src="~/lib/leaflet/plugins/easy-button.js"></script>
    <script src="~/lib/leaflet/plugins/Leaflet.PolylineMeasure.js"></script>
    <script src="~/lib/leaflet/plugins/leaflet-providers.js"></script>
    <script type="text/javascript">

        var mymap;
        var mymap;
        var lyrOSM;
        var layerFiltered;
        var layerGraves;
        var layerTotalGraves;
        var objOverlays;
        var ctrlMeasure;
        var objOverlays;
        var ctrLayers;
        var objBaseMaps;
        var sideBar;
        var ctlSidebar;
        var ctlEasybutton;
        var lyrSearch;
        var dataLayer;


        $(document).ready(function () {

            var currentPosition = new L.LatLng(38.23381, 23.727539);

            mymap = L.map('map',
                {
                    center: currentPosition,
                    zoom: 7,
                    editable: true,
                    fullscreenControl: true,
                    fullscreenControlOptions: {
                        position: 'topleft'
                    }
                });

            // create the tile layer
            var osmLayer = new L.TileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
                    minZoom: 5,
                    maxZoom: 15,
                    attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
                }).addTo(mymap);

            sidebar = L.control.sidebar('sidebar',
                {
                    position: 'right'
                });

            mymap.addControl(sidebar);


            // counties layer
            dataLayer = L.geoJson(null, { style: styleClientLinears, onEachFeature: process }).addTo(mymap);


            dataLayer.on('data:loaded',
                function () {
                    mymap.fitBounds(dataLayer.getBounds());
                });

            ctlSidebar = L.control.sidebar('search-sidebar').addTo(mymap);

            ctlEasybutton = L.easyButton('fa fa-search', function () {
                ctlSidebar.toggle();
            }).addTo(mymap);



            $.when(
                $.getJSON('/data/nomoi.json'),
                $.get('https://raw.githubusercontent.com/iMEdD-Lab/open-data/master/COVID-19/greece_latest.csv')
            ).then(function (result1, result2) {
                let coviddata = $.csv.toObjects(result2[0]);

                for (let i = 0; i < result1[0].features.length; i++) {
                    let foundIndex = coviddata.findIndex(function (l) {
                        return parseInt(l.pop_11.toString()) === result1[0].features[i].properties.pop_11;
                    });
                    if (foundIndex >= 0) {
                        Object.assign(result1[0].features[i].properties, coviddata[foundIndex]);
                    }
                }

                dataLayer.clearLayers();
                dataLayer.addData(result1[0].features);
            });

        });


       


        //***********************Functions**************
        function styleClientLinears(f) {

            let themes = ['#ffdbdb', '#ffb6b6', '#ff9292', '#ff6d6d', '#ff4949', '#ff2424', '#ff0000'];
            let color = '#33a02c';

            if (f.properties.new_cases) {
                const new_cases = f.properties.new_cases;
                const ratio = new_cases / f.properties.pop_11 * 10000.0;

                switch (true) {
                    case (ratio == 0.0):
                        color = '#33a02c';
                        break;
                    case (ratio < 0.2):
                        color = themes[0];
                        break;
                    case (ratio < 0.4):
                        color = themes[1];
                        break;
                    case (ratio < 0.6):
                        color = themes[2];
                        break;
                    case (ratio < 0.8):
                        color = themes[3];
                        break;
                    case (ratio < 1.0):
                        color = themes[4];
                        break;
                    default:
                        color = themes[6];
                        break;
                }
            }
            return {
                'color': color,
                'weight': 1,
                'opacity': 0.8,
                'clickable': false
            };
        }

        function process(f, l) {
            f.layer = l;
            
            var label = f.properties.county;
            let ratio = f.properties.new_cases / f.properties.pop_11 * 10000.0;
            if (f.properties.pop_11) {
                label = '<strong>' + f.properties.county + '</strong>' + '<br/>Πληθυσμός: ' + parseInt(f.properties.pop_11.toString()) + '<br/>Κρούσματα: ' + parseInt(f.properties.new_cases.toString()) + '<br/>λ: ' + ratio.toFixed(2);
            }
            l.bindTooltip(label, { opacity: 0.8, direction: 'center', className: 'layer-label' });

            label = '<p><strong>Διαθεσιμότητα όλων των υπηρεσιών.</strong></p>'
            if (f.properties.theme) {
                label = '<p>' + f.properties.scheduling + '</p>';
            }

            l.bindPopup('Αριθμός Τάφου ' + f.properties.pop_11);
            l.on('click', function (e) { openSidebar(e) });
            l.on('mouseover', function () { layer.openPopup(); });
        }

        function openSidebar(selection) {
            sidebar.toggle();
            document.getElementById('grave').textContent = selection.target.feature.properties.pop_11;
        }

        //***********************Search Functions**************

        function returnGraveById(id) {

            var aLayers = dataLayer.getLayers();

            for (var i = 0; i < aLayers.length - 1; i++) {
                debugger;
                var featureId = parseInt(aLayers[i].feature.properties.new_cases).toString();  
                if (featureId > id) {
                    return aLayers[i];
                }
            }
            return false;
        }


        $("#btnFindProject").click(function () {
            var id = $("#txtFindProject").val();
            debugger;
            var lyr = returnGraveById(id);
            if (lyr) {
                if (lyrSearch) {
                    lyrSearch.remove();
                }
                lyrSearch = L.geoJSON(lyr.toGeoJSON(), { style: { color: 'red', weight: 10, opacity: 0.5 } }).addTo(mymap);
                mymap.fitBounds(lyr.getBounds().pad(5));
                var att = lyr.feature.properties;
                $("#divProjectData").html("ΠΕ : " + att.NAME_GR);
            } else {
                $("#divProjectError").html("Δεν υπάρχει ΠΕ με τέτοιο αριθμό κρουσματών");
            }
        });


    </script>
}


<div class="text-center">
    <h1 class="display-4">Alfaware</h1>
</div>

<div class="">
    <div class="">
        <h2>Simulation</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Visualize Graves</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div id="map"></div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="sidebar">
    <h1>Λεπτομέρεις Τάφου </h1>

    <h5><strong>Επιλεγμένος Τάφος : </strong><span id="grave"></span> </h5>
    <p><b>Εικόνα Τάφου </b></p>

    <img src="~/foto/test.jpg" width="400" height="300" />

</div>

<div id="map"></div>

<div id="search-sidebar">
    <button id="btnLocate" class="btn btn-primary btn-block">Αναζήτηση βάση κρουσμάτων</button><br />
    <div id="divProject">
        <div id="divProjectLabel" class="text-center">
            <h4>Κρούσματα</h4>
        </div>
        <div id="divProjectError" class="errorMsg"></div>
        <div id="divFindProject" class="form-group">
            <div>
                <input type="text" id="txtFindProject" class="form-control" placeholder="Εισάγεται αριθμό κρουσμάτων" />
            </div>
            <div>
                <button id="btnFindProject" class="btn btn-primary btn-block">Εύρεση ΠΕ</button>
            </div>
        </div>
        <div class="" id="divProjectData"></div>
    </div>
</div>